.container{
    margin-top: 35px;
    display: flex;
    padding: 0 6px;
}
.category{
    
    background-color: rgb(55, 197, 27);
    border-radius: 6px;
    height: 40px;
    width: 200px;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    padding-top: 1%;
    z-index: 2;
    margin-top: 156px;
    margin-left: 12px;
}
.category-second{
    
    background-color: rgba(233, 40, 15, 0.938);
    border-radius: 6px;
    height: 40px;
    width: 200px;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    padding-top: 1%;
    z-index: 2;
    margin-top: 156px;
    margin-left: 12px;
    display: none;
}
@keyframes aniCategory{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}
.container__left{
    background-color: rgba(0,0,0,1);
    width: 300px;
    padding: 15px;
    box-sizing: border-box;
    animation: aniCategory linear 1s forwards;

}
.left__title-checkbox{
    color: #fff;
    font-size: 20px;
   
}
.left__title-checkbox i{
    margin-right: 10px;
}
.left__item-checkbox-text{
    color: #fff;
    font-size: 16px;
    margin-left: 6px;
    
}
.left__item-checkbox-text:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
}
.left__element-zero{
    margin-right: 6px;
    font-size: 19px;

}
.left__element-up-down{
    border: 1px solid #fff;
    padding: 0 7px;
    background-color: red;
    margin: 0 10px;
    font-size: 15px;
    border-radius: 4px;
}
.left__element-up-down:hover{
    cursor: pointer;
    background-color: rgb(255, 0, 0, 0.7);
}
.left__margin-right-age{
    margin-right: 40px;
}
.left__margin-right-price{
    margin-right: 30px;
}
.left__margin-top{
    margin-top: 10px;
}
.left__margin-top-span{
    display: block;
    margin-top: 10px;
}
.left__margin-top-span:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
}
.container__rigrht{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.hot_product-item-link{
    text-decoration: none;
}
.hot__search{
    background-color: #201111;
    border-radius: 4px;
    margin: 10px 6px;
    box-sizing: border-box;
    padding: 10px;
    
}
.hot__seacrch-text{
    display: block;
    margin: 5px 35px;
    font-size: 24px;
    color: #fff;
}
.hot__search-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 88%;
}
.hot__search-list a{
    text-align: center;
    text-decoration: unset;
    margin-right: 6%;
}
.hot-category__list{
    margin-top: 164px;
    padding-left: 0;
    color: #fff;
    display: flex;
    justify-content: space-around;
    list-style: none;
    height: 100px;

}
.hot-category__item{
    height: 100%;
    width: 19%;
    text-align: center;
    box-sizing: border-box;
    padding-top: 2%;
}
.hot-category__item:hover{
    background-color: rgba(0, 0, 0, 0.8);
    width: 22%;
    cursor: pointer;
}
.hot-category__item-1{
    background-color: rgba(0, 0, 0, 1);
    border-radius: 8px;
}
.hot-category__item-2{
    background-color: rgba(255, 0, 0, 1);
    border-radius: 8px;
}
.hot-category__item-3{
    background-color: rgba(108, 6, 105, 1);
    border-radius: 8px;
}
.hot-category__item-4{
    background-color: rgba(0, 0, 255, 1);
    border-radius: 8px;
}
.hot-category__item-5{
    background-color: rgba(0, 128, 0, 1);
    border-radius: 8px;
}
/* Responsive */
:root {

    --header-height: 600px;
  }
  
  /* pc */
  @media(min-width: 1024px){
   
    .category{
        display: none;

    }
   
  }
  /* Mobile & tablet */
  @media (max-width: 1023px)
  {
  
    .container__left{
        display: none;
    }
    .container{
        margin-top: 10px;
    }
    .hot-category__list{
        display: none;
    }
  }
  
  /* tablet */
  @media (min-width: 740px) and (max-width: 1023px){
    .left__element-up-down{
        padding: 0 1px;
    }
  }
  /*moblie  */
  @media (max-width: 739px){

    .category{
        margin-top: 57px;
    }
    .category-second{
        margin-top: 57px;
    }
    .left__element-up-down{
        padding: 0 1px;
    }
    .left__margin-right-age {
        margin-right: 20px;
    }

  }
  